html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    background: #d8d0c3;
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

#header {
    background-color: #313239;
    padding: 10px 12.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 25px);
    transition: all 0.5s;
    transition-timing-function: ease;
}

#header a {
    text-decoration: none;
}

#header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.header-item {
    margin: 0 12.5px;
}

.header-btn {
    text-align: center;
    height: fit-content;
    background: #d8d0c3;
    color: #313239;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
}

.header-text {
    color: #d8d0c3;
    font-size: 15px;
}

.header-text p {
    margin: 0;
}

#header-contact-info {
    text-align: right;
}

#banner-wrapper {
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #19191dcc;
    z-index: 1;
}

#banner {
    background-color: #9297ac;
    border-radius: 15px;
    padding: 32px 50px 35px;
    text-decoration: none;
    position: relative;
    margin: 15px;
    box-shadow: 0 0 20px #19191d;
}

#banner-exit {
    width: 40px;
    position: absolute;
    top: -17.5px;
    right: -17.5px;
    cursor: pointer;
}

#banner a {
    text-decoration: none;
}

#banner-text {
    margin: 0;
    color: #313239;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

/* #content-wrapper {

} */

#section1 {
    background-color: #19191d;
    justify-content: center;
    display: flex;
    padding: 6.5px;
}

#store-img {
    width: 60vw;
    height: auto;
    border-radius: 1vw;
    margin: 6.5px;
}

#section1-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25vw;
    margin: 6.5px;
    background-color: #313239;
    border-radius: 1vw;
    text-align: center;
    color: #d8d0c3;
    padding: 2.5vw 0;
}

#section1-side h1 {
    font-size: 5vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}

#section1-side h2 {
    font-size: 2vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 1.5vw 0 0.5vw;
}

#section1-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hour-set {
    padding: 0 0 1.5vw;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 1vw;
}

.week p {
    margin: 0 0.5vw;
}

.day-row {
    display: flex;
    margin-right: 0.5vw;
}

.day-row p {
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.25vw;
}

.date {
    text-align: right;
    width: 2.5vw;
}

.day {
    text-align: center;
    width: 2vw;
}

.hour {
    text-align: left;
}

#footer {
    background-color: #313239;
    padding: 1.5vw 25px;
    display: flex;
    align-items: center;
    width: calc(100% - 50px);
}

#footer p {
    color: #d8d0c3;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;
}

@media screen and (min-width: 801px) {
    #main-logo {
        width: 250px;
        transition: transform 0.2s;
        transition-timing-function: ease-in-out;
    }
    
    #main-logo:hover {
        transform: translate(10px, 0px);
    }

    .header-btn {
        transition: transform 0.2s;
        transition-timing-function: ease-in-out;
    }

    .header-btn:hover {
        background: #b5b0a8;
        transform: translate(0px, -5px);
        box-shadow: 0px 5px 5px #19191d;
    }
}

@media screen and (max-width: 800px) {
    #main-logo {
        width: 150px;
    }

    #footer {
        justify-content: center;
        padding: 1.5vw;
        width: calc(100% - 3vw);
    }
}

@media screen and (max-width: 600px) {
    #header-contact-info {
        display: none;
    }

    #footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    #main-logo {
        width: 40vw;
    }

    #header-contact-btn {
        display: none;
    }

    #header {
        justify-content: center;
    }

    #footer p {
        font-size: 9px;
    }
}