html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    background: #19191d;
}

#intro-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #313239;
    z-index: 100;
    animation: 1s fade-out 0.5s ease-in-out, 0.1s intro-hide 1.5s linear;
    animation-fill-mode: forwards;
}

#intro-logo {
    opacity: 0;
    width: 20vmin;
    animation: 1.5s fade-in 0s linear, 1.5s intro-in 0s cubic-bezier(0,.75,1,1);
    animation-fill-mode: forwards;
    user-select: none;
}
  
@keyframes intro-in {
    from {
        width: 20vmin;
    } 
    to {
        width: 80vmin;
    }
}
  
@keyframes intro-hide {
    from {
        bottom: 0;
    }
    to {
        bottom: 100%;
    }
}

#banner-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #19191dcc;
    z-index: 5;
    animation: 0.1s fade-in 0s cubic-bezier(0,.75,1,1);
    animation-fill-mode: forwards;
}

#banner {
    background: #9297ac;
    border-radius: 1vw;
    padding: 1.92vw 3vw 2.1vw;
    text-decoration: none;
    position: absolute;
    margin: 1vw;
    box-shadow: 0 0 1.2vw #19191d;
    max-width: 80%;
}

#banner-exit {
    width: 2.4vw;
    position: absolute;
    top: -1.05vw;
    right: -1.05vw;
    cursor: pointer;
}

#banner a {
    text-decoration: none;
}

#banner-text {
    margin: 0;
    color: #313239;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vw;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

#banner-text span {
    font-weight: 800;
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
}

#header {
    background: #313239;
    padding: 10px 12.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 25px);
    transition: box-shadow 0.5s;
    transition-timing-function: ease;
}

#header a {
    text-decoration: none;
}

#header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.popped {
    box-shadow: 0 0 3px black;
    z-index: 2;
}

#main-logo {
    width: 250px;
}

.header-item {
    margin: 0 12.5px;
}

.header-btn {
    text-align: center;
    height: fit-content;
    background: #d8d0c3;
    color: #313239;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-style: italic;
}

.header-text {
    color: #d8d0c3;
}

.header-text p {
    margin: 0;
}

#header-contact-info {
    text-align: right;
}

#section1 {
    justify-content: center;
    display: flex;
    padding: 0.325vw;
}

#sec1-slides {
    width: 60.8vw;
    height: 42.02vw;
    border-radius: 1vw;
    margin: 0.325vw;
}

.slide {
    width: 100%;
    height: auto;
    display: none;
    animation: 0.5s fade-in 0s ease-in-out, 0.5s fade-out 4.5s ease-in-out;
}
  
@keyframes fade-in {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fade-out {
    from {opacity: 1} 
    to {opacity: 0}
}

#section1-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 23vw;
    margin: 0.325vw;
    background: #313239;
    border-radius: 1vw;
    text-align: center;
    color: #d8d0c3;
    padding: 1vw;
}

.title {
    font-size: 5vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #e6e1da;
    padding-bottom: 0.5vw;
}

#section1-side h1 {
    margin: 0;
    border-bottom: 0.25vw dashed #d8d0c3;
}

#section1-side h2 {
    font-size: 2.5vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 0.75vw 0 0.5vw;
}

#section1-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hour-set {
    padding: 0 0 1.5vw;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 1.2vw;
}

.highlighted-row {
    font-weight: 800;
    color: #19191d;
    background: #e6e1da;
}

.highlighted-row .date, .highlighted-row .day{
    border-color: #19191d;
}

.closed-row {
    font-weight: 800;
    background: #d4797933;
}

.day-row {
    display: flex;
    margin-right: 0.5vw;
}

.day-row p {
    font-family: "droid-sans-mono", monospace;
    font-weight: 600;
    font-style: normal;
    white-space: pre-wrap;
    line-height: 1.5vw;
    letter-spacing: -0.0075vw;
    font-size: 1vw;
    padding: 0 0.5vw;
    margin: 0px;
}

.date {
    text-align: center;
    border: solid #d8d0c3 0px;
    border-right-width: 1px;
    display: none;
}

.day {
    text-align: right;
    border: solid #d8d0c3 0px;
    border-right-width: 1px;
}

.hour {
    text-align: left;
}

#perks-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.75vw;
    width: 100%;
}

.perks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 36vw;
    width: calc(85vw/3);
    background: #313239;
    border-radius: 1vw;
}

.perks-main-img {
    height: 18vw;
    aspect-ratio: 1/1;
}

.perks-main-img>img {
    height: 100%;
    aspect-ratio: 1/1;
}

.perks-title {
    width: 100%;
    white-space: nowrap;
}

.perks-title h1{
    font-size: 4.25vw;
    width: 100%;
    margin: 0;
}

.perks-text-img {
    display: none;
}

.perks-text {
    margin: 0 1vw;
    color: #d8d0c3;
}

.perks-text>p {
    font-size: 1.2vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0.5vw;
    width: inherit;
}

#d-text>p>a {
    color: #e6e1da;
    font-weight: 600;
}

.review-section {
    position: relative;
    overflow: hidden;
}

.arrows {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0%;
}

.arrows>div {
    z-index: 3;
}

.arrow {
    height: 2.75vw;
    margin: 0.3vw;
    cursor: pointer;
}

.review {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hidden-review {
    opacity: 0%;
    display: none;
}
  
@keyframes review-in-right {
    from {transform: translateX(100%)}
    to {transform: translateX(0%)}
}
  
@keyframes review-out-left {
    from {transform: translateX(0%); display: flex}
    to {transform: translateX(-100%); display: none}
}
  
@keyframes review-in-left {
    from {transform: translateX(-100%)}
    to {transform: translateX(0%)}
}
  
@keyframes review-out-right {
    from {transform: translateX(0%); display: flex}
    to {transform: translateX(100%); display: none}
}

.review-back {
    position: relative;
    height: 100%;
    width: 100%;
    user-select: none;
}

.reviewer-info {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 2vw;
    width: inherit;
}

.reviewer-img {
    position: relative;
    user-select: none;
    height: 3vw;
    aspect-ratio: 1/1;
}

.reviewer-name {
    color: #e6e1da;
    font-size: 1.3vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-left: 0.5vw;
}

.review-text {
    display: flex;
    align-items: center;
    height: 5vw;
    width: 12.2vw;
    position: absolute;
    text-align: center;
    top: 8.1vw;
    margin: 0;
}

.review-text>p {
    color: #e6e1da;
    font-size: 0.72vw;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 0.75vw;
}

.spacer {
    height: 0.75vw;
}

#contact-us-wrapper {
    background: #d8d0c3;
    display: flex;
    justify-content: center;
    padding: 0.325vw;
}

#contact-us {
    background: #313239;
    display: flex;
    padding: 0.325vw;
    border-radius: 1vw;
    color: #d8d0c3;
    width: fit-content;
    margin: 0.325vw;
    justify-content: center;
}

#contact-us-info {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 24.6vw;
    margin: 0.65vw;
}

#contact-us-title {
    display: flex;
    border-bottom: 0.25vw dashed #d8d0c3;
    white-space: nowrap;
}

#contact-us-title>h1 {
    margin: 0 1.5vw;
}

#contact-us-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42.2vw;
    height: 100%;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0 1vw;
}

#contact-us-text > p:first-child {
    font-size: 1.7vw;
    margin: 0.5vw;
}

#about-us {
    font-size: 1.2vw;
    margin: 0.5vw;
}

#contact-us-map {
    width: 39vw;
    height: 24.6vw;
    margin: 0.65vw;
}

.slides {
    background: #19191d;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#footer {
    background: #313239;
    padding: 1.5vw 25px;
    display: flex;
    align-items: center;
    width: calc(100% - 50px);
}

#footer p {
    color: #d8d0c3;
    font-family: "myriad-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
}

@media screen and (min-width: 821px) {
    #main-logo {
        width: 250px;
        transition: transform 0.2s;
        transition-timing-function: ease-in-out;
    }
    
    #main-logo:hover {
        transform: translate(10px, 0px);
    }

    .header-btn {
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
    }

    .header-btn:hover {
        background: #b5b0a8;
        transform: translate(-5px, 0px);
        box-shadow: 2.5px 0px 5px #19191d;
    }

    .header-text {
        line-height: 25px;
    }
}

@media screen and (max-width: 820px) {
    #main-logo {
        width: 200px;
    }
    
    #banner {
        border-radius: 1.6vw;
        padding: 3.1vw 4.8vw 3.36vw;
        margin: 1vw;
    }
    
    #banner-exit {
        width: 3.84vw;
        top: -1.68vw;
        right: -1.68vw;
    }
    
    #banner-text {
        font-size: 3.84vw;
    }

    #footer {
        justify-content: center;
        padding: 2vw;
        width: calc(100% - 4vw);
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    #main-logo {
        width: 150px;
    }
    
    #banner-exit {
        width: 7.68vw;
        top: -3.36vw;
        right: -3.36vw;
    }
    
    #banner-text {
        font-size: 7.68vw;
    }

    #header {
        padding: 10px 6.25px;
        width: calc(100% - 12.5px);
    }

    #header-contact-info {
        display: none;
    }

    .header-btn {
        padding: 7.5px 15px;
    }

    #footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    #main-logo {
        width: 40vw;
    }

    #header-contact-btn {
        display: none;
    }

    #header {
        justify-content: center;
    }

    #footer p {
        font-size: 9px;
    }
}

@media screen and (orientation: portrait) {
    #section1 {
        flex-direction: column;
        align-items: center;
        padding: 1vw;
    }

    #sec1-slides {
        width: calc(100% - 2vw);
        height: auto;
        margin: 1vw;
    }
    
    .slide {
        width: 100%;
        display: none;
        animation: 0.5s fade-in 0s ease-in-out, 0.5s fade-out 4.5s ease-in-out;
    }
    
    #section1-side {
        width: calc(100% - 2vw);
        margin: 1vw;
        padding: 0;
        padding-top: 1.5vw;
    }

    .title {
        font-size: 10vw;
    }

    #section1-side h1 {
        margin: 0 0 -4vw;
        padding-bottom: 2vw;
        border-bottom: 0.5vw solid #d8d0c3;
    }
    
    #section1-side h2 {
        font-size: 5vw;
        margin: 0 0 1.5vw;
    }
    
    #section1-hours {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5vw 0 1vw;
    }
    
    .hour-set {
        padding: 2vw 0vw 3vw;
    }

    #hour-set-divider {
        width: 0.5vw;
        background: #d8d0c3;
    }
    
    .week {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        list-style-type: none;
        text-align: center;
        padding: 0;
        font-size: 3vw;
    }
    
    .day-row {
        display: flex;
        margin: 0 0.6vw;
    }
    
    .day-row p {
        line-height: 4vw;
        letter-spacing: -0.065vw;
        font-size: 2.4vw;
        padding: 0 1vw;
        margin: 0;
    }

    #perks-wrapper {
        box-sizing: border-box;
        flex-direction: column;
        gap: 2vw;
    }

    .perks-main-img {
        display: none;
    }

    .perks {
        height: auto;
        flex-direction: column;
        padding: 3vw 0;
        width: 100%;
        border-radius: 0;
    }

    .perks-info {
        width: fit-content;
    }

    .perks-title {
        margin-bottom: 1.5vw;
    }

    .perks-title h1 {
        font-size: 10vw;
    }

    .perks-text {
        display: flex;
        align-items: center;
        padding: 0 5vw 2.5vw;
    }

    .perks-text-img {
        display: block;
        height: 45vw;
        width: 45vw;
    }

    .perks-text>p {
        font-size: 3vw;
        width: 45vw;
    }

    .reviewer-info {
        top: 5vw;
    }
    
    .reviewer-img {
        height: 7.5vw;
    }
    
    .reviewer-name {
        font-size: 3.3vw;
        margin-left: 1.5vw;
    }
    
    .review-text {
        height: 13vw;
        width: 30.5vw;
        top: 20vw;
    }
    
    .review-text>p {
        font-size: 1.8vw;
        line-height: 2.1vw;
    }
    
    .arrow {
        height: 6vw;
        margin: 1.5vw;
    }

    .spacer {
        height: 2vw;
    }

    #contact-us-wrapper {
        display: flex;
        justify-content: center;
        padding: 1vw;
    }
    
    #contact-us {
        width: calc(100% - 4vw);
        margin: 1vw;
        padding: 2vw;
        flex-direction: column-reverse;
        position: relative;
    }
    
    #contact-us-info {
        display: flex;
        flex-direction: column;
        height: 60vw;
    }
    
    #contact-us-title {
        display: flex;
        width: auto;
        justify-content: center;
        border-bottom: 0.5vw solid #d8d0c3;
        border-top: 0.5vw solid #d8d0c3;
        white-space: nowrap;
    }
    
    #contact-us-title h1 {
        margin: 0 2vw;
        padding-bottom: 0.5vw;
    }
    
    #contact-us-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        text-align: left;
    }

    #contact-us-text > p:first-child {
        font-size: 4vw;
        margin-top: 2vw;
        line-height: 4.8vw;
    }

    #about-us {
        font-size: 3.4vw;
        line-height: 4vw;
    }
    
    #contact-us-map {
        background-position: 0% 15%;
        width: 100%;
        height: 60vw;
        margin: 0 auto 2vw;
    }
}